<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">			
		<title>Log in</title>
		<!-- Add bootstrap stylesheets -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        
        <!--  our own stylesheet here -->
        <link rel="stylesheet" href="/custom.css">
        
        <!--  Add bootstrap scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <!--  Our own javascript -->
        <script src="/custom.js"></script>
	</head>
	<body>
		<div class="container">
			<h2>Tweets</h2>
			<div th:each="tweet:${tweetList}">
				<h5>@<span th:text="${tweet.user.username}"></span></h5>
				<small><span th:text="${#dates.format(tweet.createdAt, 'M/d/yy')}"></span></small>
				<p th:utext="${tweet.message}"></p>
			</div>			
		</div>
	</body>
</html>