<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
	<head>					
		<title>Log in</title>		
        <th:block th:replace="/fragments/header.html"></th:block>
	</head>
	<body>
		<div class="container">
			<div th:replace="/fragments/navbar"></div>
			<h2>Welcome!</h2>
			<form th:action="@{/login}" method="post"><br/>
				<input type="text" id="username" name="username" placeholder="Username" class="form-control"/><br/>
				<input type="password" id="password" placeholder="Password" name="password" class="form-control"/><br/>
				<button class="btn btn-md btn-success btn-block" name="Submit" value="Login" type="Submit">
				Log in
				</button>
			</form>
		</div>
	</body>
</html>
